<!-- the three buttons that are visible in every logged-in menu (petition, thanks, signers) -->

    <a href="/edit"><button class="button big">Edit your profile</button></a>


    <a href="/surprise"><button class="button big">Treat yourself with some ABBA!</button></a>



    <div class="button logout">
        <a href="/logout"> Log Out </a>
    </div>
