<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Make ABBA Great Again</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="index.js"></script>
        <script src="canvas.js"></script>
    </head>
    <body>
        {{{body}}}

    </body>
</html>
