<div class="container">

    {{#if deleted}}
        <div class="notification hidden">
            <h4>
                Yes, I've been brokenhearted<br/>Blue since the day we parted<br/>
                Why, why did I ever let you go? <br/><br/>
                In all seriousness, though, your data was succesfully deleted.<br/>Sad to see you go — but always open to welcome your back.
            </h4>
        </div>
    {{/if}}

    <br/>
    <img src="/Abba.png" />
    <br/><br/><br/>

    <h2>
        Reuniting ABBA is within our reach — but we can't do it alone.<br/>
        Please join us to support our cause!
    </h2>
    <br/>


    <div class="button">
        <a href="/registration"> Sign Up </a>
    </div>
    <div class="button">
        <a href="/login"> Log In </a>
    </div>
    <br/><br/><br/>
</div>
