<div class="container">

    {{#if deleted}}
        <div class="notification">
            <h3>Your data was succesfully deleted!<br />Sad to see you go — but always open to welcome your back.</h3>
        </div>
    {{/if}}

    <br />
    <img src="/Abba.png" />
    <br /><br /><br />

    <h2>
        Reuniting ABBA is within our reach — but we can't do it alone.<br />
        Please join us to support our cause!
    </h2>
    <br />


    <div class="button">
        <a href="/registration"> Sign Up </a>
    </div>
    <div class="button">
        <a href="/login"> Log In </a>
    </div>
    <br /><br /><br />
</div>
