<div class="container">

<br />
    <img src="/abba.png" />
    <br /><br /><br />

    <div class="text">
        Reuniting ABBA is within our reach — but we can't do it alone.<br /><br />
        Please join us to support our cause!
    </div>
    <br /><br />

    <div class="button logout">
        <a href="/registration"> Sign Up </a>
    </div>
    <div class="button logout">
        <a href="/login"> Log In </a>
    </div>
</div>
