<div class="container">
    <br/>
    <img src="/Abba.png" />
    <br/><br/>
    Please provide us with some additional information, fellow ABBA-lover!
    <br/><br/>
    <form method="POST">
        City:<br>
        <input type="text" name="city" autocomplete="off">
        <br /><br />
        Age:<br>
        <input type="text" name="age" autocomplete="off">
        <br /><br />
        Your personal website:<br>
        <input type="text" name="url" autocomplete="off">
        <br /><br /><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="button">Submit</button>
    </form>
</div>
