<div class="container">

    <br/>
    <img src="/Abba.png" />
    <br/>
    <br/>

    <!-- this error is shown if the user did not provide one of the required fields -->
    {{#if error}}
        <div class="error">S.O.S! Something went wrong! Please try again. <br/>Note that all fields must be filled out.</div>
        <audio autoplay>
            <source src="womp-womp.mp3" type="audio/mpeg">
        </audio>
        <br/>
    {{/if}}

    <!-- this error is shown if the user hasn't provided the password -->
    {{#if password_error}}
        <div class="error">Uh oh! You must provide a password to proceed.</div>
        <audio autoplay>
            <source src="womp-womp.mp3" type="audio/mpeg">
        </audio>
        <br/>
    {{/if}}

    <form method="POST">
        First name:<br>
        <input type="text" name="first" autocomplete="off">
        <br/><br/>
        Last name:<br>
        <input type="text" name="last" autocomplete="off">
        <br/><br/>
        E-Mail:<br>
        <input type="email" name="email" autocomplete="off">
        <br/><br/>
        Password:<br>
        <input type="password" name="pass" autocomplete="off">
        <br/><br/>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="button">Sign Up</button>
    </form>
    <br/>
    Already registered? Please <a href="/login"> log in </a> here.
    <br/>
</div>
