<div class="container">
    <h2>Those are the people passionate about the greatest pop band of all times</h2> <br />

    <img class="slider" src="/thumbs.png"

    {{#each results}}
    <p>
        {{first}} {{last}}
    </p>
    {{/each}}
</div>
