{{#if video}}
    <br/><br/><br/>
    <div class="content">
        <h2>Never say no to a dancing break!</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/unfzfe8f9NI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{{/if}}

{{#if video2}}
    <br/><br/><br/>
    <div class="content">
        <h2>How about a great movie with ABBA songs?</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/8RBNHdG35WY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{{/if}}

{{#if video3}}
    <br/><br/><br/>
    <div class="content">
        <h2>Never say no to a dancing break!</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xFrGuyw1V8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{{/if}}

{{#if fact1}}
    <div class="content">
        <h2>Did you know?....</h2>
        <h3 class="different-text">Before they were “ABBA” (the initials of their first names), the band was known as “Festfolk,” meaning “party people” in Swedish.</h3>
    </div>
{{/if}}

{{#if fact2}}
    <div class="content">
        <h2>Did you know?....</h2>
        <h3 class="different-text">ABBA’s greatest hits album, Gold, is one of the best-selling records of all time.</h3>
    </div>
{{/if}}

{{#if fact3}}
    <div class="content">
        <h2>Did you know?....</h2>
        <h3 class="different-text">Anni-Frid (the brunette) isn't actually Swedish. Her mother was Norwegian and became involved with a German soldier during World War II. They left Norway shortly after Anni-Frid’s birth in 1945.</h3>
    </div>
{{/if}}

{{#if fact4}}
    <div class="content">
        <h2>Did you know?....</h2>
        <h3 class="different-text">Abba is also the name of a seafood company in Sweden.
            ABBA the band had to get permission from ABBA the seafood company to use their name (not the other way around).</h3>
    </div>
{{/if}}


{{#if fact4}}
    <div class="content">
        <h2>Did you know?....</h2>
        <h3 class="different-text">They wore their sparkly outlandish outfits partly for tax reasons. <br/>Swedish laws allowed the cost of clothes to be tax-deductible, as long as they were intended for performance only and couldn’t be considered normal street clothes.
        "In my honest opinion we looked like nuts in those years," Björn remembers. "Nobody can have been as badly dressed on stage as we were."</h3>
    </div>
{{/if}}



<a href="/surprise"><button class="button big bottom">Surprise me with another ABBA goodie</button></a>
