<div class="container">
    <h3>Thank you for your signature, {{name}}! You're a real dancing queen!</h3>
    <img src={{url}} />
    <img src="/abba2.gif" />

<br />
    <div class="button big">
        <a href="/signers">See all {{length}} signers for this noble cause!</a>
    </div>
    <br /><br />
    {{>logOut}}

</div>
