<div class="container">
    <h2>Mamma mia! Thank you for your signature! You're a real dancing queen!</h2>
    <img src={{url}} />
    <iframe src="/abba2.gif" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<br /><br />
    <div class="button">
        <a href="/signers">See all {{length}} signers for this noble cause!</a>
    </div>
</div>
