/*GENERAL LOOK*/

html {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(10deg, #d0e9c9 50%, #cfdced 50%);
    font-family: "Julius Sans One";
    color: #0c056d;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: auto;
    perspective: 1000px;
}

/*NOTIFICATION AT THE MAIN PAGE AFTER DELETING YOUR ACCOUNT*/
.notification {
    color: #00ac00;
    font-family: "Archivo Narrow";
}

h1,
h2,
h3 {
    line-height: 1.5;
    /* color: white;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px; */
}

/*BUTTONS*/

.button {
    font-size: 1em;
    width: 20%;
    margin: 20px;
    background: #f0af5f;
    padding: 10px;
    display: inline-block;
    font-family: "Julius Sans One";
    color: white;
    border-width: 0;
    text-align: center;
}

.big {
    width: 200px;
}

/*Links inside buttons should we white*/
.button a {
    color: white;
}

/* Normal links should be green*/
a {
    text-decoration: none;
    color: #00ac00;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #007200;
}

/*overriding other links*/
.button a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.button:after {
    display: block;
    content: "";
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.button:hover:after {
    transform: scaleX(1);
}

/*Fields to put stuff in*/

input,
#signature,
.underline {
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    background: inherit;
}

input {
    cursor: text;
    font-size: 16px;
    font-family: "Archivo Narrow";
    letter-spacing: 1px;
    text-align: center;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2;
}

/* .test {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2;
    transition: all ease 0.5s;
    transform-style: preserve-3d;
} */

.error {
    color: #88304e;
    font-weight: bold;
}

audio {
    display: none;
}

/*hamburger menu*/
.header {
    height: 5em;
    margin-bottom: -1.5em;
    margin-top: -1.5em;
    position: relative;
}

.nav {
    height: 3em;
    width: 3em;
    margin-top: 2em;
    margin-right: 2em;
    float: right;
}

.invisible {
    left: 100%;
}

.visible {
    left: 75%;
    transition: left 0.5s linear;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: rgb(164, 163, 167);
    position: fixed;
    right: 0;
    z-index: 99999;
    height: 110%;
}

.closing {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 20px;
    align-self: flex-end;
    padding-right: 15px;
    color: #0c056d;
    cursor: pointer;
}

/*////////////*/

img {
    width: 400px;
    display: inline-block;
    margin: 0 auto;
}

.logout {
    background: #3eac51;
    width: 30%;
}
